.box {
    color:white;
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0.0.1);
    padding:10px
}

.box1 { background: #1abc9c }
.box2 { background: #3498db}
.box3 { background: #9b59b6}
.box4 { background: #34495e}
.box5 { background: #2980b9}
.box6 { background: #e74c3c}
.box7 { background: #d35400}
.box8 { background: #2c3e50}
.box9 { background: #f1c40f}
.box10 { background:#16a085}

.container {
    display:flex;
    justify-content:center;
    /* left,right,center,space-between  or flex-start,flex-end*/
    flex-direction: column;
    border:10px solid mistyrose;
    min-height:100vh;
}